{% extends "layout-1.html" %}

          {% block content %}

           <section id="intro">
                <header>
                    <a href="/index.html"> 
                    <img src="./img/logo.png" alt="Imagem da Logomarca">
                    </a>
                </header>

              <main>
                <p>
                    Ficar em casa em períodos longos, não deve ser nada fácil.
                  </p>
            
                  <p>
                    Por isso, iremos caralogas ideias, <strong> brincadeiras, jogos, filmes, livros, cursos, dicas </strong>e tudo que for necessário para tornar esse momento mais interessante.
                  </p>
            
                   <p>
                    Comece clicando e, ver ideias para ver as ideias cadastradas e contribua adicionando a sua ideia.
                   </p>

              </main>

              <section id="buttons">
               
                <button onclick="onOff()">+ Adicionar ideias</button>
                <button> <a href="/ideias">Ver ideias</a> </button>
         
              </section>
               
              <footer>
               
               Com ❤️ <a  href="http://rocketseat.com.br" target="_blank">Rocketseat</a>

               </footer>
                
          
            </section>

            <section id="last-ideias">

                {%  include "all_ideas.html" %}

            </section>

            {% endblock %}
