{% for idea in ideas %}
<div class="idea">
    <img src="{{idea.img}}" alt=" Imagem de {{idea.title}}">

    <div class="content">
        <h3>{{idea.title}}</h3>
        <p>{{idea.category}}</p>
        <div class="description">
            {{idea.deswcription}}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, quibusdam totam? Laboriosam numquam nobis libero doloribus quidem! Dignissimos, saepe. Accusamus aliquam, pariatur doloribus alias numquam quam eum eaque provident sed.
        </div>
        <a href="{{idea.url}}" target="_blank">Ir para a Ideia</a>
    </div>
</div>

   {% endfor %}